@charset "UTF-8" ;
body{
    font-size: 16px;
    background-color: rgb(204, 255, 127);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: red;
    background-color: azure;
}
h2{
    color: chocolate;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}